<div class="layuimini-container">
    <div class="layuimini-main">

        <form id="app-form" class="layui-form layuimini-form">

            <div class="layui-form-item">
                <label class="layui-form-label required">登录账户</label>
                <div class="layui-input-block">
                    <input type="text" name="username" class="layui-input" readonly value="{$row.username|default=''}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">登录密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" class="layui-input"    lay-reqtext="请输入新的登录密码" placeholder="请输入新的登录密码" value="">
                    <tip>修改登录密码。(留空不修改)</tip>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">确认新密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password_again" class="layui-input"    lay-reqtext="请再次新登录密码" placeholder="请再次新登录密码" value="">
                    <tip>再次填写新的登录密码。</tip>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">提现密码</label>
                <div class="layui-input-block">
                    <input type="password" name="txpwd" class="layui-input"    lay-reqtext="请输入提现密码" placeholder="请输入提现密码" value="">
                    <tip class="">填写提现密码。(留空不修改)</tip>
                </div>
            </div>
            
            
            <div class="layui-form-item">
                <label class="layui-form-label">旧提现密码</label>
                <div class="layui-input-block">
                    <input type="password" name="old_pwd" class="layui-input"    lay-reqtext="请先输入正在使用的提现密码（未设置过请留空）" placeholder="请先输入正在使用的提现密码（未设置过请留空）" value="">
                    <tip class="">请先输入正在使用的提现密码</tip>
                </div>
            </div>

            <div class="hr-line"></div>
            <div class="layui-form-item text-center">
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
            </div>

        </form>
 
    </div>
</div>