<style>

    .t_content img{
        width: 100%;
    }
</style>
<link rel="stylesheet" href="__STATIC__/admin/css/welcome.css?v={:time()}" media="all">
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-warning icon"></i>数据统计 <span onclick="window.location.reload()" class="label  layui-bg-cyan" style="cursor: pointer">刷新</span></div>
                            <div class="layui-card-body">


                                <div class="welcome-module"  >
                                    <div class="layui-row layui-col-space12">
                                        <div class="layui-col-lg3 layui-col-md3 layui-col-xs12 ">
                                            <?php if($admin_id == 1):?>

                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>待处理提现金额(元)</h5>
                                                    </div>
                                                    <div class="panel-content" style="position: relative">
                                                        <h1 class="no-margins" style="">
                                                            <?php echo $dpayMonet?></h1>
                                                        <!-- 修改：指向重构后的统一提现管理控制器，避免重复页面 -->
                                                        <a data-title="待审核列表" layuimini-content-href="{:url('outlay/pending')}" class="layui-btn layui-btn-lg layui-btn-sm" style="display: inline-block;position: absolute;right: 0;bottom: 35%;">管理</a>
                                                        <small> 提现审批  &nbsp;</small>
                                                    </div>
                                                </div>
                                            </div>

                                            <?php else:?>

                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>可提现余额(元)</h5>
                                                    </div>
                                                    <div class="panel-content" style="position: relative">
                                                        <h1 class="no-margins" style="color: #FFD700">
                                                            <?php echo $home_total['yy']?></h1>
                                                        <button class="tixianc layui-btn layui-btn-lg layui-btn-sm" style="display: inline-block;position: absolute;right: 0;bottom: 35%;">提现</button>
                                                        <small>已扣除手续费</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <?php endif;?>
                                        </div>
                                        <div class="layui-col-lg3 layui-col-md3 layui-col-xs12">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-cyan">实时</span>
                                                        <h5>今日访问统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins"><?php echo $home_total['fangwen']?></h1>
                                                        <small>新访客</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-lg3 layui-col-md3 layui-col-xs12">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-orange">实时</span>
                                                        <h5>订单统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins"><?php echo $home_total['orderTotal']?></h1>
                                                        <small>总订单</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-lg3 layui-col-md3 layui-col-xs12">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-green">实时</span>
                                                        <h5>金额统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins"><?php echo $home_total['money']?></h1>
                                                        <small>总金额</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="welcome-module"  >
                                    <div class="layui-row layui-col-space12">
                                        <div class="layui-col-lg3 layui-col-md3 layui-col-xs12 ">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue">实时</span>
                                                        <h5>今日打赏金额</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins"><?php echo $home_total['dayDsMoney']?></h1>
                                                        <small>新收入</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-lg3 layui-col-md3 layui-col-xs12">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-cyan">实时</span>
                                                        <h5>今日打赏笔数</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins"><?php echo $home_total['dayDsOrder']?></h1>
                                                        <small>新订单</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-lg3 layui-col-md3 layui-col-xs12">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-orange">实时</span>
                                                        <h5>昨日打赏金额</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins"><?php echo $home_total['yesDsMoney']?></h1>
                                                        <small>总收入</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-lg3 layui-col-md3 layui-col-xs12">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-green">实时</span>
                                                        <h5>昨日打赏笔数</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins"><?php echo $home_total['yesDsOrder']?></h1>
                                                        <small>总订单</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>报表统计</div>
                            <div class="layui-card-body">
                                <div id="echarts-records" style="width: 100%;min-height:500px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
</div>

<textarea id="contents" style="display: none;">{$notify.content|raw|htmlspecialchars_decode}</textarea>
<textarea id="titless" style="display: none;">{$notify.title}</textarea>
<textarea id="noticeTime" style="display: none;">{$notify.create_time}</textarea>
<script>
    var xAxisData = <?php echo json_encode($xAxisData)?>;
    var seriesOrderData = <?php echo json_encode($seriesOrderData)?>;
    var hasSeriesOrderData = <?php echo json_encode($hasSeriesOrderData)?>;

    // 提现按钮点击事件
    layui.use(['layer', 'jquery'], function(){
        var layer = layui.layer;
        var $ = layui.jquery;

        $('.tixianc').on('click', function(){
            layer.open({
                type: 2,
                title: '提现申请',
                shadeClose: true,
                shade: 0.8,
                area: ['600px', '400px'],
                content: '{:url("outlay/add")}'
            });
        });
    });

    // 初始化echarts图表
    if (typeof echarts !== 'undefined') {
        var recordsChart = echarts.init(document.getElementById('echarts-records'));
        
        var option = {
            title: {
                text: '数据统计报表',
                left: 'center',
                textStyle: {
                    color: '#333',
                    fontSize: 16
                }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                }
            },
            legend: {
                data: ['订单数量', '订单金额'],
                top: 30
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: xAxisData || []
            },
            yAxis: [
                {
                    type: 'value',
                    name: '订单数量',
                    position: 'left',
                    axisLabel: {
                        formatter: '{value}'
                    }
                },
                {
                    type: 'value',
                    name: '金额(元)',
                    position: 'right',
                    axisLabel: {
                        formatter: '{value}'
                    }
                }
            ],
            series: [
                {
                    name: '订单数量',
                    type: 'line',
                    yAxisIndex: 0,
                    data: seriesOrderData || [],
                    smooth: true,
                    lineStyle: {
                        color: '#5FB878'
                    },
                    itemStyle: {
                        color: '#5FB878'
                    }
                },
                {
                    name: '订单金额',
                    type: 'line',
                    yAxisIndex: 1,
                    data: hasSeriesOrderData || [],
                    smooth: true,
                    lineStyle: {
                        color: '#FF5722'
                    },
                    itemStyle: {
                        color: '#FF5722'
                    }
                }
            ]
        };
        
        recordsChart.setOption(option);
        
        // 响应式调整
        window.addEventListener('resize', function() {
            recordsChart.resize();
        });
    } else {
        console.warn('ECharts library not loaded');
    }
</script>