<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('domainrule/add')}"
               data-auth-edit="{:auth('domainrule/edit')}"
               data-auth-delete="{:auth('domainrule/delete')}"
               data-auth-recycling="{:auth('domainrule/recycling')}"
               data-auth-piliang="{:auth('domainrule/piliang')}"
               lay-filter="currentTable">
        </table>
    </div>
     
</div>