<div class="layuimini-container">

<!--    <fieldset class="layui-elem-field">-->
<!--        <legend>QQ-检测主域名</legend>-->
<!--        <div class="layui-field-box">-->
<!--            {$d}/index/index/jiance?f={$f}&type=qq&d=1-->
<!--        </div>-->
<!--    </fieldset>-->


  <!--  <fieldset class="layui-elem-field">
        <legend>Wechat-检测主域名</legend>
        <div class="layui-field-box">
            {$d}/index/index/jiance?f={$f}&type=wx&d=1
        </div>
    </fieldset>-->


<!--    <fieldset class="layui-elem-field">-->
<!--        <legend>QQ-检测炮灰域名</legend>-->
<!--        <div class="layui-field-box">-->
<!--            {$d}/index/index/jiance?f={$f}&type=qq&d=2-->
<!--        </div>-->
<!--    </fieldset>-->


    <fieldset class="layui-elem-field">
        <legend>Wechat-检测炮灰域名</legend>
        <div class="layui-field-box">
            {$d}/index/index/jiance?f={$f}&type=wx&d=2
            <hr>
            <a href="/admin/index#/admin/system.config/index.html">【网站设置】</a>（检测配置）里填写完第三方检测token接口后在宝塔设置计划任务.
             <img src="/upload/tp/dsjc.png" width="500" />
        </div>
    </fieldset>


</div>