<style>

    .laytable-cell-1-0-2 {
        font-size:14px;padding:0 5px;height:auto;overflow:visible;text-overflow:inherit;white-space:normal;word-break: break-all;
    }
</style>
<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('link/add')}"
               data-auth-edit="{:auth('link/edit')}"
               data-auth-delete="{:auth('link/delete')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>
 
<script>
    var admin_id = "{$admin_id}";
</script>