



<div class="layuimini-container">
<form id="app-form" class="layui-form layuimini-form">





    <div>

        <?php if($push_all):?>
        <?php foreach($push_all as $item):?>
    <div class="layui-inline layui-col-sm12 layui-col-md12  ayui-col-xs6" style="margin-bottom: 10px;">
        <label class="layui-form-label"><?php echo $item['val']?>元比例:</label>
        <div class="layui-input-inline layui-col-sm9 layui-col-md10  ayui-col-xs10" >
            <input type="number" name="val[]" style="width: 84%;display: inline-block;" data-plice="<?php echo $item['val'];?>" value="<?php echo $item['bl'];?>" autocomplete="off" class="row layui-input">
            <button type="button" class="layui-btn layui-btn-danger layui-btn-sm del_row">删除</button>
        </div>
    </div>
        <?php endforeach;?>
        <?php else:?>

        <?php endif;?>




    <button type="button" class="add_row layui-btn layui-btn-sm layui-btn-warm" style="position: relative;left:43%;top:3%">添加金额</button>




    <div class="hr-line"></div>
    <div class="layui-form-item text-center">
        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm"  lay-submit="" lay-filter="demo1" >确认</button>
        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
    </div>

</form>
</div>

<script>

    layui.use(['form','jquery', 'layedit', 'laydate'], function() {
        var form = layui.form
    ,layer = layui.layer;

        var $ = layui.jquery;

        $(document).on("click",'.del_row',function () {

           $(this).parents(".layui-inline").remove();

           var arr = [];
           $(".row").each(function(index , obj){
               arr.push({val:$(obj).attr('data-plice') , bl:$(obj).val()})
           });
           $.getJSON("/stock/push_all",{type:"add",data:arr},function (e) {
                if(e.code == 1)
                {
                    layer.msg(e.msg);
                }
                else
                {
                    layer.msg(e.msg);
                }
           });
        });
        var min = "{:sysconfig('jp','fb_min_money')}";
        var max = "{:sysconfig('jp','fb_max_money')}";
        $(document).on('click','.add_row',function () {

            var  msg = "输入金额，并确认,最小值:"+min+", 最大值:"+max
            layer.prompt({title: msg, formType: 3},function(val, index){
                //layer.msg('得到了'+val);

                if(parseInt(val) < parseInt(min) || parseInt(val) > parseInt(max))
                {
                    layer.msg(msg);
                    return
                }

                $.getJSON("/stock/push_all",{value:val},function (e) {
                    if(e.code == 1)
                    {
                        layer.msg(e.msg);
                    }
                    else
                    {
                        layer.msg(e.msg);
                    }

                });

                setTimeout(function () {
                    window.location.reload();
                },500);
                //layer.close(index);
            });
        });

        form.on('submit(demo1)', function(data){

            var arr = [];
            var bl = 0;
            $(".row").each(function(index , obj){

                bl = bl+parseInt($(obj).val());
                arr.push({val:$(obj).attr('data-plice') , bl:$(obj).val()})
            });
            if(bl > 100)
            {
                layer.msg("设置金额比例不能超过100!请重新设置")
                return
            }
            if(bl < 100)
            {
                layer.msg("设置金额比例不能小于100!请重新设置")
                return;
            }
            layer.load();
            $.getJSON("",{type:"fabu",data:arr},function(e){
               if(e.code == 1)
               {
                   layer.msg(e.msg);

                   setTimeout(function(){
                       parent.window.location.reload();
                   },500);
               }
            });
        });
    });

</script>
