<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">


<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">说明:</label>-->
<!--            <div class="layui-input-block">-->
<!--                收费为 {:sysconfig('jg','jg_yqm')} 元。总营业额达 {:sysconfig('jg','jg_yqm')} 元的代理可以售卖-->
<!--            </div>-->
<!--        </div>-->

        <div class="layui-form-item">
            <label class="layui-form-label">可用余额:</label>
            <div class="layui-input-block" style="line-height: 36px">
                {$user_list.balance}
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">购买数量</label>
            <div class="layui-input-block">
                <input type="text" name="num" class="layui-input" lay-verify="required" placeholder="请输入购买数量" value="1">
            </div>
        </div>


        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>