<div class="layuimini-container">
    <div class="layuimini-main">



        <blockquote class="layui-elem-quote"  style="margin-bottom: 15px">
            邀请说明:
            <br>
            推广邀请码只是为了方便代理用户推广平台用户。
            <br>
            邀请码可以有效避免无效用户进入平台。
            <br>
            邀请码收费为: <span style="color:  red">{:sysconfig('jg','jg_yqm')}</span> 元/个。
            <br>
            总营业额达: <span style="color:  red">{:sysconfig('jg','jg_yqm')}</span> 元的代理可以售卖。
        </blockquote>



        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('numberx/add')}"
               data-auth-edit="{:auth('numberx/edit')}"
               data-auth-delete="{:auth('numberx/delete')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>