<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>系统安装程序</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/install.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>系统安装程序</h1>
            <p>请填写以下信息完成系统安装</p>
        </div>
        
        <div class="content">
            <?php if ($errorInfo): ?>
                <div class="error"><?php echo htmlspecialchars($errorInfo); ?></div>
            <?php else: ?>
                <form id="installForm">
                    <div class="form-group">
                        <label class="form-label">数据库主机</label>
                        <input type="text" name="hostname" class="form-input" value="localhost" required>
                        <div class="tips">数据库服务器地址，通常为localhost</div>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label">数据库端口</label>
                        <input type="number" name="hostport" class="form-input" value="3306" min="1" max="65535" required>
                        <div class="tips">MySQL默认端口为3306</div>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label">数据库名称</label>
                        <input type="text" name="database" class="form-input" placeholder="请输入数据库名称" required>
                        <div class="tips">请确保数据库已创建或有创建权限</div>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label">数据库用户名</label>
                        <input type="text" name="username" class="form-input" placeholder="请输入数据库用户名" required>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label">数据库密码</label>
                        <input type="password" name="password" class="form-input" placeholder="请输入数据库密码">
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label">表前缀</label>
                        <input type="text" name="prefix" class="form-input" value="ea_" required>
                        <div class="tips">建议使用默认前缀ea_</div>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label">后台访问地址</label>
                        <input type="text" name="admin_url" class="form-input" value="admin" required>
                        <div class="tips">后台登录地址：<?php echo $currentHost; ?><span id="admin_preview">admin</span></div>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label">覆盖安装</label>
                        <div class="radio-group">
                            <div class="radio-item">
                                <input type="radio" name="cover" value="0" id="cover_no" checked>
                                <label for="cover_no">不覆盖</label>
                            </div>
                            <div class="radio-item">
                                <input type="radio" name="cover" value="1" id="cover_yes">
                                <label for="cover_yes">覆盖安装</label>
                            </div>
                        </div>
                        <div class="tips">覆盖安装将删除现有数据</div>
                    </div>
                    
                    <button type="submit" class="btn" id="installBtn">开始安装</button>
                </form>
            <?php endif; ?>
        </div>
    </div>

    <script src="/static/js/install.js"></script>
</body>
</html>
