<form id="app-form" class="layui-form layuimini-form" lay-filter="example">

    <div class="layui-form-item">
        <label class="layui-form-label">URL加密</label>
        <div class="layui-input-block">
            <input type="checkbox" lay-filter="switchTest" name="" {php} if(sysconfig('ff','ff_close') == 1){ echo "checked";} {/php} value="{:sysconfig('ff','ff_close')}" lay-skin="switch" lay-text="ON|OFF">
        </div>
       
    </div>

    <input type="hidden" id="ff_close" name="ff_close" value="{:sysconfig('ff','ff_close')}">


    <div class="layui-form-item">
        <label class="layui-form-label">域名随机前缀</label>
        <div class="layui-input-block">
            <input type="checkbox" lay-filter="ff_fix" name="" {php} if(sysconfig('ff','ff_fix') == 1){ echo "checked";} {/php} value="{:sysconfig('ff','ff_fix')}" lay-skin="switch" lay-text="ON|OFF">
        </div>
    </div>

    <input type="hidden" id="ff_fix" name="ff_fix" value="{:sysconfig('ff','ff_fix')}">



    <div class="layui-form-item">
        <label class="layui-form-label">禁止pc端打开</label>
        <div class="layui-input-block">
            <input type="checkbox" lay-filter="ff_pc" name="" {php} if(sysconfig('ff','ff_pc') == 1){ echo "checked";} {/php} value="{:sysconfig('ff','ff_pc')}" lay-skin="switch" lay-text="ON|OFF">
        </div>
    </div>

    <input type="hidden" id="ff_pc" name="ff_pc" value="{:sysconfig('ff','ff_pc')}">



    <div class="layui-form-item">
        <label class="layui-form-label">默认中转域名</label>
        <div class="layui-input-block">
            <input type="text" name="ff_domain" class="layui-input" placeholder="请输入默认中转域名" value="{:sysconfig('ff','ff_domain')}">
            <div class="layui-form-mid layui-word-aux">填写默认中转域名，用于防洪和内容分发。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">URL加密地址</label>
        <div class="layui-input-block">
            <input type="text" name="ff_url" class="layui-input"  placeholder="请输入url加密入口地址" value="{:sysconfig('ff','ff_url')}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">短网址接口</label>
        <div class="layui-input-block">
            <input type="text" name="ff_urlapi" class="layui-input" placeholder="请输入短网址接口API地址" value="{:sysconfig('ff','ff_urlapi')}">
            <div class="layui-form-mid layui-word-aux">填写短网址接口API地址，用于生成短链接。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">CDN加速域名</label>
        <div class="layui-input-block">
            <input type="text" name="ff_cdn" class="layui-input" placeholder="请输入CDN加速域名" value="{:sysconfig('ff','ff_cdn')}">
            <div class="layui-form-mid layui-word-aux">填写CDN加速域名，用于内容分发和加速。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">短地址</label>
        <div class="layui-input-block">
            <select name="ff_short" lay-filter="aihao">

                <?php foreach($short as $k => $v):?>
                <option value="<?php echo $k?>" <?php if($k == sysconfig('ff','ff_short')  ){ echo 'selected';}?> ><?php echo $v?></option>
                <?php endforeach;?>

            </select>
        </div>
    </div>




    <div class="hr-line"></div>
    <div class="layui-form-item text-center">
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-filter="demo1"  lay-submit="system.config/save" data-refresh="false">确认</button>
        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
    </div>

</form>

<script>
    layui.use(['form', 'layedit', 'laydate'], function(){

        var form = layui.form,layer = layui.layer
        form.on('switch(switchTest)', function(data){
            document.getElementById("ff_close").value = this.checked ? '1' : '0';
        });

        form.on('switch(ff_pc)', function(data){
            document.getElementById("ff_pc").value = this.checked ? '1' : '0';
        });

        form.on('switch(ff_fix)', function(data){
            document.getElementById("ff_fix").value = this.checked ? '1' : '0';
        });
    })
</script>