<div class="layuimini-container">
    <div class="layuimini-main" id="app">

        <div class="layui-tab layui-tab-card" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">网站维护</li>
                <li >网站配置</li>
                <li >防洪配置</li>
                <li >价格配置</li>
                <li >抽单配置</li>
                <li >短视频配置</li>
          <!--      <li >微信公众号配置</li> -->
                <li >支付配置</li>
                <li >自动换域名配置</li>
                <li>上传配置</li>


            </ul>
            <div class="layui-tab-content">

                <div class="layui-tab-item layui-show" data-desc="网站维护">
                    {include file="system/config/weihu" /}
                </div>

                <div class="layui-tab-item " data-desc="网站配置">
                    {include file="system/config/peizhi" /}
                </div>

                <div class="layui-tab-item " data-desc="防封配置">
                    {include file="system/config/ff" /}
                </div>

                <div class="layui-tab-item " data-desc="价格配置">
                    {include file="system/config/price" /}
                </div>

                <div class="layui-tab-item " data-desc="抽单配置">
                    {include file="system/config/ankoupeizhi" /}
                </div>

                <div class="layui-tab-item " data-desc="自动换域名配置">
                    {include file="system/config/dsp" /}
                </div>

          <!--      <div class="layui-tab-item " data-desc="公众号配置">
                    {include file="system/config/wechat" /}
                </div> -->

                <div class="layui-tab-item " data-desc="支付配置">
                    {include file="system/config/pay" /}
                </div>


                <div class="layui-tab-item " data-desc="支付配置">
                    {include file="system/config/short" /}
                </div>


                <div class="layui-tab-item" data-desc="上传配置">
                    {include file="system/config/upload" /}
                </div>
            </div>
        </div>

    </div>
</div>