<form id="app-form" class="layui-form layuimini-form">

    <div class="layui-form-item">
        <label class="layui-form-label">站点名称</label>
        <div class="layui-input-block">
            <input type="text" name="site_name" class="layui-input" placeholder="请输入站点名称" value="{:htmlspecialchars(sysconfig('site','site_name'))}" lay-verify="required">
            <div class="layui-form-mid layui-word-aux">填写站点名称。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">网站标题</label>
        <div class="layui-input-block">
            <input type="text" name="site_title" class="layui-input" placeholder="请输入网站标题" value="{:htmlspecialchars(sysconfig('site','site_title'))}" lay-verify="required">
            <div class="layui-form-mid layui-word-aux">填写网站标题。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">网站标语</label>
        <div class="layui-input-block">
            <input type="text" name="site_slogan" class="layui-input" placeholder="请输入网站标语" value="{:htmlspecialchars(sysconfig('site','site_slogan'))}">
            <div class="layui-form-mid layui-word-aux">填写网站标语。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">网站描述</label>
        <div class="layui-input-block">
            <textarea name="site_content" class="layui-textarea" placeholder="请输入网站描述" lay-verify="required">{:htmlspecialchars(sysconfig('site','site_content'))}</textarea>
            <div class="layui-form-mid layui-word-aux">填写网站描述。</div>
        </div>
    </div>





    <div class="layui-form-item">
        <label class="layui-form-label">登录背景图</label>
        <div class="layui-input-block layuimini-upload">
            <input name="site_bg" class="layui-input layui-col-xs6" placeholder="请上传登录背景图，支持png、jpg、jpeg格式" value="{:htmlspecialchars(sysconfig('site','site_bg'))}">
            <div class="layuimini-upload-btn">
                <span><a class="layui-btn" data-upload="site_bg" data-upload-number="one" data-upload-exts="ico|png|jpg|jpeg"><i class="fa fa-upload"></i> 上传</a></span>
                <span><a class="layui-btn layui-btn-normal" id="select_site_bg" data-upload-select="site_bg" data-upload-number="one"><i class="fa fa-list"></i> 选择</a></span>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备案信息</label>
        <div class="layui-input-block">
            <input type="text" name="site_beian" class="layui-input" placeholder="请输入备案信息" value="{:htmlspecialchars(sysconfig('site','site_beian'))}">
            <div class="layui-form-mid layui-word-aux">填写备案信息。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">客服QQ</label>
        <div class="layui-input-block">
            <input type="text" name="site_qq" class="layui-input" placeholder="请输入客服QQ" value="{:htmlspecialchars(sysconfig('site','site_qq'))}" lay-verify="number">
            <div class="layui-form-mid layui-word-aux">填写客服QQ。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">客服微信</label>
        <div class="layui-input-block">
            <input type="text" name="site_wechat" class="layui-input" placeholder="请输入客服微信" value="{:htmlspecialchars(sysconfig('site','site_wechat'))}">
            <div class="layui-form-mid layui-word-aux">填写客服微信。</div>
        </div>
    </div>





    <!-- 点播券相关配置 -->
    <div class="layui-form-item">
        <label class="layui-form-label">每次播放消耗点播券</label>
        <div class="layui-input-block">
            <input type="number" name="rvery_point" class="layui-input" lay-verify="required|number" placeholder="请输入每次播放消耗的点播券数量" value="{:sysconfig('site','rvery_point')}" min="1">
            <div class="layui-form-mid layui-word-aux">设置用户每次播放视频需要消耗的点播券数量。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">分享好友获得点播券</label>
        <div class="layui-input-block">
            <input type="number" name="shar_point" class="layui-input" lay-verify="required|number" placeholder="请输入分享好友可得的点播券数量" value="{:sysconfig('site','shar_point')}" min="1">
            <div class="layui-form-mid layui-word-aux">设置用户分享好友后可以获得的点播券数量。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">新用户附送点播券</label>
        <div class="layui-input-block">
            <input type="number" name="add_point" class="layui-input" lay-verify="required|number" placeholder="请输入新用户附送的点播券数量" value="{:sysconfig('site','add_point')}" min="1">
            <div class="layui-form-mid layui-word-aux">设置新用户注册时附送的点播券数量。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">视频顶部公告</label>
        <div class="layui-input-block">
            <textarea name="dsp_notify" class="layui-textarea" placeholder="请输入视频页面顶部显示的公告内容">{:sysconfig('site','dsp_notify')}</textarea>
            <div class="layui-form-mid layui-word-aux">设置在视频页面顶部显示的公告内容。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">分享弹窗提示文本</label>
        <div class="layui-input-block">
            <textarea name="shar_box_text" class="layui-textarea" placeholder="请输入分享弹窗中显示的提示文本">{:sysconfig('site','shar_box_text')}</textarea>
            <div class="layui-form-mid layui-word-aux">设置分享弹窗中显示的提示文本内容。</div>
        </div>
    </div>
    <div class="hr-line"></div>
    <div class="layui-form-item text-center">
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="system.config/save" data-refreshFrame="true">确认</button>
        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
    </div>

</form>