
<style>
.span-margin{
    margin-right: 10px;
}
</style>
<form id="app-form" class="layui-form layuimini-form">

    <div class="layui-form-item">
        <label class="layui-form-label">清理数据</label>
        <div class="layui-input-block">

            <button type="button" class="layui-btn layui-btn-radius layui-btn-sm del-data0">删除24小时之前的垃圾数据</button>
            <button type="button" class="layui-btn layui-btn-warm layui-btn-radius layui-btn-sm del-data2">删除不在公共片库里的私有片库</button>
            <button type="button" class="layui-btn layui-btn-danger layui-btn-radius layui-btn-sm del-data3">帮助所有代理发布私有片库</button>

        </div>
    </div>


        <div class="layui-form-item">
        <label class="layui-form-label">片库清理</label>
        <div class="layui-input-block">


            <button type="button" class="layui-btn layui-btn-danger layui-btn-radius layui-btn-sm del-data4">清理更新片库数据</button>
            <button type="button" class="layui-btn layui-btn-danger layui-btn-radius layui-btn-sm del-data6">清理更新短视频数据</button>
            <button type="button" class="layui-btn layui-btn-danger layui-btn-radius layui-btn-sm del-data5">清理代理片库数据</button>

        </div>
    </div>


    
    

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">替换视频链接</label>
            <div class="layui-input-inline" style="width: 240px;">
                <input type="text" name="video_url" id="video_url" lay-verify="required" placeholder="查找" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 240px;">
                <input type="text" name="v_url" id="v_url" lay-verify="required" placeholder="替换" autocomplete="off" class="layui-input">
            </div>
            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm replace_video">替换视频链接</button>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">替换图片链接</label>
            <div class="layui-input-inline" style="width: 240px;">
                <input type="text" name="img" id="img" lay-verify="required" placeholder="查找" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 240px;">
                <input type="text" name="img_url" id="img_url" lay-verify="required" placeholder="替换" autocomplete="off" class="layui-input">
            </div>
            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm replace_url">替换图片链接</button>
        </div>
    </div>
</form>