


<div class="layuimini-container">







    <div class="layuimini-main">
        <fieldset id="" class="table-search-fieldset " style="margin-bottom: 1%">
            <legend>数据统计</legend>
            <table class="table layui-table " >
                <thead>
                <tr>
                    <th style="text-align: center;">今日订单笔数</th>
                    <th style="text-align: center;">昨日订单笔数</th>
                    <th style="text-align: center;">今日订单总金额</th>
                    <th style="text-align: center;">昨日订单总金额</th>
                    <th style="text-align: center;">历史总订单笔数</th>
                    <th style="text-align: center;">历史总订单金额</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                     <td id="dayOrderCount"><?php echo $count[0]['dayOrderCount']?></td>
                    <td id="yesterdayOrderCount"><?php echo $count[0]['yesterdayOrderCount']?></td>
                    <td id="dayOrderMoney"><?php echo $count[0]['dayOrderMoney']?></td>
                    <td id="yesterdayOrderMoney"><?php echo $count[0]['yesterdayOrderMoney']?></td>
                    <td id="OrderCount"><?php echo $count[0]['OrderCount']?></td>
                    <td id="OrderMoney"><?php echo $count[0]['OrderMoney']?></td>
                    
                </tr>
                </tbody>
            </table>
        </fieldset>

        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('payorder/add')}"
               data-auth-edit="{:auth('payorder/edit')}"
               data-auth-delete="{:auth('payorder/delete')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>
<script>

    var pays = '<?php echo $pay?>';
</script>
